# plink files
*.bed
*.bim
*.bim
*.map
*.frq
*.nosex
*.log
*.fam

# reformatted plink files
*.raw

# annoying pycharm files
*.idea
*.pdf

# PGC table
PGC_table22.txt

# any R_output files
*.Rout

#Stationary data
Stationary_Data/
testing_SCZ_workflow/ 
nihms-381979.pdf
